---
layout: default_jp
---

<!-- 메인슬라이드 -->
{% include slide/slide_main.html %}

<!-- 상품설명  -->
<div class="container">

    <!-- 주문 및 결제정보 -->
    <h1 class="my-4"></h1>
    <div class="row">
        <div class="col-lg-8">
            <h3>注文方法</h3>
            <hr>
            <p>制作する製品と内容をメール(infohojin@naver.com)で送って下さい。製作期間は2~3日程度かかります。</p>
            <p>ご相談が可能な時間は午前11:00 ~ 6:00までとなります。お問合せはメールのみとなります。公休日及び土曜,日曜日は対応出来ません。</p>
            <p>[重要]スタンプは製品の特徴上製作進行後は返品及び払戻しの対応は出来ません。</p>
        </div>
        <div class="col-lg-4">
            <h3>入金及び口座番号</h3>
            <hr>
            <p>注文メールの後、下記口座まで入金をしてください。入金の確認後の作業開始となります。</p>
            <p>우리은행 560-273083-02-001 이호진</p>
        </div>
    </div>

    <h1 class="my-4">製品種類</h1>
    <hr>
    <div class="row">
        {% for products in site.data.product_jp %}
        <div class="col-lg-3 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="{{products.images}}" alt="">
            <h3><a href="/{{products.url}}/">{{products.title}}</a></h3>
            <p>{{products.subtitle}}</p>
        </div>
        {% endfor %}
    </div>

    <!-- /.row -->
    {{ content }}
</div>
<!-- /.container -->

